body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.header {
    /*background-color: #6e0c0f;*/
    background-image: url(bordo_textura.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    text-align: center;
    
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 30px;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

.kep_meret{ 
    width:300px;
     height:200px;
}
